interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://universities.hipolabs.com/search
  response:
    body:
      string: '[{"domains": ["marywood.edu"], "web_pages": ["http://www.marywood.edu"],
        "name": "Marywood University", "alpha_two_code": "US", "state-province": null,
        "country": "United States"}, {"domains": ["cstj.qc.ca"], "web_pages": ["https://www.cstj.qc.ca",
        "https://ccmt.cstj.qc.ca", "https://ccml.cstj.qc.ca"], "name": "C\u00e9gep
        de Saint-J\u00e9r\u00f4me", "alpha_two_code": "CA", "state-province": null,
        "country": "Canada"}, {"domains": ["lindenwood.edu"], "web_pages": ["http://www.lindenwood.edu/"],
        "name": "Lindenwood University", "alpha_two_code": "US", "state-province":
        null, "country": "United States"}, {"domains": [[...]
